:root {
  --primary-color: #2b905f;
  --secondary-color: #e9ebf2;
}
body {
  /* background-image: url(/img/background-1.jpg);
  background-repeat: no-repeat; */
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4 {
  text-align: center;
  color: black;
  opacity: 0.8;
  line-height: 1.5;
}
h3 {
  font-size: 40px;
}
h1 {
  font-size: 48px;
}
h3 {
  font-size: 36px;
}
ul {
  padding: 0;
}
i {
  padding: 0 20px;
  color: var(--primary-color);
}

p {
  text-align: center;
  font-size: 16px;
}
footer {
  background: var(--secondary-color);
  text-align: center;
}
li {
  list-style: none;
  display: inline-block;
}

.header-for-tecnology {
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.header-for-works {
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.title-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-me-link {
  display: block;
  text-align: center;
  font-size: 32px;
  color: black;
  opacity: 0.6;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
.about-me-link:hover {
  color: var(--primary-color);
  opacity: 0.9;
}
.tecnology {
  background-color: var(--secondary-color);
  border-radius: 20px;
  text-align: center;
  font-size: 120px;
  max-width: 900px;
  display: block;
  margin: 0 auto;
}

.links {
  text-align: center;
  margin: 20px 0;
}
.links i:hover {
  font-size: 22px;
}
.weather-app,
.my-company-app {
  weight: 550px;
  height: 532px;
}

.about-link {
  border-radius: 4px;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 16px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  justify-content: center;
  margin: 0 130px;
  display: block;
}
.about-link:hover {
  background: var(--primary-color);
  color: white;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  opacity: 0.8;
}

.email {
  padding-top: 20px;
  opacity: 0.9;
}
.head-nav {
  opacity: 0.9;
}
.my-photo {
  width: 430px;
  border-radius: 4px;
  display: block;
  margin: 80px auto 0 auto;
}
.my-works-title {
  margin-top: 70px;
}

.hobby img {
  width: 90px;
  padding: 0 10px;
}
.hobby ul {
  display: block;
  margin: 0 auto;
}
.about-me-title {
  color: var(--primary-color);
  font-size: 30px;
}
@media (max-width: 900px) {
  .weather-app,
  .my-company-app {
    weight: 350px;
    height: 332px;
    display: block;
    margin: 0 auto;
  }
  p {
    font-size: 14px;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 24px;
  }
  .tecnology {
    font-size: 100px;
    max-width: 600px;
  }
  .about-link {
    display: block;
    text-align: center;
    margin: 0 20px;
    font-size: 14px;
  }
  .about-me-link {
    font-size: 18px;
  }
  .tecnology {
    font-size: 60px;
    max-width: 550px;
  }
}
